
.display-container {
    display: inline-block;
    height: 400 px;
    background-color: #F2F3F2;
}

.search-container {
    display: grid;
    grid-template-areas: 'ft ft';
}
input {
    width: 371px;
    height: 40px;
    padding-left: 64px;
    /* margin: 16px; */
    border-radius: 4px;
    border-style: none;
    background-color: white;
    color: #5C656A;
    display: grid;
    grid-area:  'ft';
}

.search-icon {
    /* width: 371px;
    height: 40px;
    border-radius: 4px;
    background-color: blue;    
    display: grid;
    grid-area:  'ft';
    border: 1px solid blue; */
}